.cardImg {
    width: 75%;
    padding-top: 1rem;

}

.cards {
    margin: 1rem;
}

.cardBox {
    display: flex;
    max-width: 380px;
}

.cardBoxImg {
    }

.cardBody {
    height: 300px;
    top: 0;
    left: 0;
}

.cardButton {
    color: #2E3B55;

}
.cardButton:hover {
    border-color: #2E3B55;
}

.cardTitle {
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
